body {
    line-height: 1.7;
    /*color: rgba(255, 255, 255, 0.5);*/
    color:#f1f2eb;
    font-weight: 400;
    font-size: 1.1rem;
    font-family: 'Nunito', sans-serif;
    /*background: #000;*/
    background-color: #010101;
}


h1,h2,h3,h4,h5,h6{
  color: #e4ae50;
  line-height: 1;
  font-weight: 700;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

::-moz-selection {
  background: #000;
  color: #fff; }

::selection {
  background: #000;
  color: #fff; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    text-decoration: none; }

strong{font-weight: bolder;}

.text-black {
  color: #000 !important; }

.bg-black {
  background: #000 !important; }

.bg-dark {
  background: #13171d !important; }

.line-height-sm {
  line-height: 1.3; }

.line-height-xs {
  line-height: 1; }



.underline-heading {
    /*font-size: 16px;*/
    font-size: 130%;;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #fff;
    position: relative;
    padding-bottom: 15px; 
}

.underline-heading:before {
    content: "";
    background: #e4ae50;
    width: 40px;
    height: 2px;
    position: absolute;
    bottom: 0; 
}

.text-center .underline-heading:before {
    width: 120px;
    left: 42%;
}